<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="createPage">
      <h1>Create Post</h1>
      <h2>I wonder what kind of post you are going to make?</h2>
      <form action="/create" method="POST">
        <div>
          <label for="blog">Enter your text:</label>
          <input name="blog" id="blog" value="...">
        </div>
        <div>
          <button>Post</button>
        </div>
      </div>
    </form>
  </body>
</html>