<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="deletePage">
      <h1>Delete Post</h1>
      <h2>Simply just add the ID of the post you wish to delete</h2>
      <form action="/delete" method="POST">
        <div>
          <label for="blog">Blog ID:</label>
          <input name="blog" id="blog" value="#">
        </div>
        <div>
          <button>Delete</button>
        </div>
      </div>
    </form>
  </body>
</html>