<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div id="editPage">
      <h1>Edit Post</h1>
      <h2>Add the ID of the post you wish to edit, and then add the new text</h2>
      <form action="/edit" method="POST">
        <div>
          <label for="blog_id">Enter post ID:</label>
          <input name="blog_id" id="blog_id" value="#">
        </div>
        <div>
          <label for="txt">New post edit text:</label>
          <input type="text" name="txt" id="txt" value="...">
        </div>
        <div>
          <button>Edit Post</button>
        </div>
      </div>
    </form>
  </body>
</html>