body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(/images/deepSpace.jpg);
  color: #E3D26F;
}

.header {
  text-align: center;
  padding: 15px;
}

.navBar {
  text-align: center;
  overflow: hidden;
  background-color: #acacac;
  border-radius: 25%;
  padding: 10px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.navBar a{
  padding: 15px;
}

.mainContent {
  padding: 20px;
}

h2 {
  text-align: center;
}

#aboutMe {   
  float: left;
  width: 25%;
}

.mainBlog {
  float: right;
  width: 75%;
}

.mainContent:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  background-color: #2F1B25;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10%;
}

#posts {
  flex-flow: row wrap;
  display: flex;
  justify-content: space-around;
}
.post {
  background-color: #2E0219;
  display: block;
  box-shadow: 0 0 8px #E3D26F, 0 0 10px purple;
  border-radius: 25px;
  padding: 20px;
  margin: 8px;
}
.postLabel {
  font-size: large;
  display: inline-block;
  padding: 2px;
  padding-bottom: 4px;
}

#me  {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.footer {
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}

.button{
  display:inline-block;
  color:#2E0219;
  border:1px solid #CCC;
  background:#8D98A7;
  box-shadow: 0 0 5px -1px #646E78;
  cursor:pointer;
  vertical-align:middle;
  max-width: 100px;
  padding: 35px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}



